@import url('../../../MainCssVariables.css');

.root{
	flex-direction: column;
	text-align: center;
	align-items: center;
	background-color: var(--PURPLE-BG);
	margin-top: 50px;
	padding: 20px;
}

.root p{
	color: aliceblue;
	font-weight: 800;

}

.root p:hover{
	color: aquamarine;
}

.github{
	margin-right: 50px;
}

a{
	text-decoration: none;
}


@media (max-width : 600px) {
	p{
		font-size: var(--XS-FONT);
	}
}


