@import url('../../../MainCssVariables.css');

.root{
	height: fit-content;
}
.matchRoot{
	margin: 20px;
	position: relative;
	height: max-content;
}

.matchesRoot{
	
}

@media (max-width : 600px) {
	.root  {
		font-size: 12px;
	}
}
