@import url('../../../MainCssVariables.css');

.matchRoot{
	text-align: center;
	color: rgb(10 , 10 , 10);
	border-radius: 5px;
	border-top: 1px solid rgb(10 , 10 , 10);
	padding: 10px 20px 10px 20px;
	color: var(--WHITE-TEXT);
	background-color: var(--GREY-BG);
	width: 100%;
	height: 150px;
	font-size: var(--MEDIUM-FONT);
	text-decoration: none;

}
.matchRoot p{
	display: flex;

}
.teams{
	flex-direction: column;
	justify-content: space-around;
}
.matchRoot:hover{
	border: var(--WHITE-TEXT) 2px solid;
	cursor: pointer;

}
.teams img {
	margin: 8px 10px 0 0;
}

.score{
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	padding-right: 20px;
}
.score p{
	text-align: center;
	padding: 5px;
}

.homeTeam{
	margin-bottom: 10px;
}

.info{
	flex-direction: column;
	align-items: center;
	border-left: 1px var(--WHITE-TEXT) solid;
	padding-left: 20px;
}
.info p{
	font-size: var(--XS-FONT);
}

.dayL{
	margin-right: 10px;
}

.day{
	margin-right: 10px;
}

.time{
	margin-left: 10px;
}
@media (max-width : 600px) {
		.matchRoot{
			font-size: var(--XS-FONT);
		}

		.teams img{
			margin: 8px 5px 0 0;
			width: 20px;
			height: 20px;
		}
}
