@import url('./MainCssVariables.css');
body{
	background-color:var(--DARK-BG) ;
}

*{
	box-sizing: border-box;
}

.App p{
	font-family: var(--ROBOTO-FONT);

}

@media (max-width : 600px) {
	body{
		font-size: 16px;
	}

	
}