@import url('../../../MainCssVariables.css');

.scorersDescRoot{
	text-align: center;
	background-color: var(--HEADER-BG);
	margin-top: 100px;
	color : #ffffff;
}

.scorersRoot{
	border-radius: 10px;
}


@media (max-width : 600px) {
	.root{
		font-size: 12px;
	}
}

