@import url('../../../MainCssVariables.css');

.leaguePreviewRoot{
	flex-direction: column;
	padding: 10px;
	width: 100%;
	border: 1px rgb(20 , 20 , 20) solid;
	text-decoration: none;
	color: var(--WHITE-TEXT);
	font-size: var(--MEDUIM-FONT);
}

.leaguePreviewRoot > div{
	flex-direction: row;
	justify-content: center;
	
}

.leaguePreviewRoot p{
	text-align: center;
}

.imgRoot{
	height: 50%;
}

.img{
	height: 100px;
	width: 100px;
}

.leaguePreviewRoot:hover{
	cursor: pointer;
}

.nameRoot{
	height: 30%;
	padding-top: 20px;
}
.nameRoot p{
	font-weight: 700;

}

.countryRoot{
	opacity: 0.7;
	height: 10%;
}
.countryRoot p{
	font-weight: 700;

}

.leaguePreviewRoot:hover{
	background-color: var(--GREY-BG);
	color: var(--WHITE-TEXT);
}


@media  ( max-width : 600px) {
	.leaguePreviewRoot{
		font-size: var(--SMALL-FONT);
	}
	.img{
		width: 50px;
		height: 50px;
	}
}

