.leagueRoot{
	color: rgb(10 , 10 , 10);
	font-weight: 600;
	font-family: 'Courier New', Courier, monospace;
	text-decoration: none;
	border-bottom: 1px rgb(10 , 10 , 10) solid;
	padding-top: 10px;

}

.leagueRoot div{
	width : 25%;
	text-align: center;
}

.leagueRoot:hover{
	background-color: rgb(240 , 240 , 240);
}

@media (max-width : 600px){
	.leagueRoot{
		font-size: 12px;
	}
}
